<section class="d-flex w-100vw" (mouseenter)="toggleHoverState(true)" (mouseleave)="toggleHoverState(false)">
  <img class="background-image" [src]="(selectImageOfDay$ | async)?.url" alt="" />
  <div class="position-absolute bg-white p-3 m-5 d-flex flex-column flex-sm-row">
    <div #learningMoreRef class="align-content-center d-flex flex-column align-content-sm-start trans">
      <h1 class="text-uppercase to-learn-more-content">To
        learn more, click below</h1>
      <button>learn more</button>
    </div>
    <h4 *ngIf="isMobile$ | async"
      [ngStyle]="onHover ? (contentTextCssExpression$|async) : {'height':'0px', 'width':'0px', 'overflow': 'hidden'}"
      class="ml-sm-3 preview-text">
      {{previewText}}
    </h4>
  </div>
</section>