section {
  height: calc(100vh - var(--header-min-height));
}

.background-image {
  object-fit: cover;
  filter: grayscale(0.8);
  width: 100%;
  background-color: var(--primary);
}

.to-learn-more-content {
  width: 10rem;
}

.preview-text {
  transition: width 0.4s ease-in-out;
  overflow: hidden
}